<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Blog:</h3>

    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-title">Blog Title:</label>
        <input class="form-input" type="text" id="blog-title" name="blog-title" />
      </div>
      <div class="form-group">
        <label for="blog-desc">description:</label>
        <textarea class="form-input" id="blog-description" name="blog-description"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn button btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if blogs.length}}
  <div class="col-md-6 blog-list">
    <h3>Current Blogs:</h3>

    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/dashboard.js"></script>


{{!-- <main>
  <div>
    <div>
      <div class="container-fluid">
        <div class="row mt-4 p-5 justify-content-center">

          <h2 class="title-description">Your Dashboard</h2>
          <p
            class="description --bs-info-text-emphasis fs-3"
            style="line-height: 1.5"
          >Add blog here:</p>
        </div>
      </div>
    </div>
    <div id="blog-post-container" class="container container-fluid">
      <div class="row row-cols-1 row-cols-md-3 g-0 mx-0">
        {{#each blogs}}
          <div class="card bg-dark m-3 rounded-3 --bs-info-text-emphasis">
            <div class="card-body">
              <div class="row align-center">
                <div class="h3 col-5 text-start"><a
                    class="text-white"
                    href="/dashboard/{{user_id}}/edit-post/{{id}}"
                  >{{title}}</a>
                </div>
                <div class="col-7 text-end">Posted on:
                  {{format_date date_created}}</div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div id="add-post-container">
    <form class="form post-form">
      <div class="input-group mb-3">
        <span class="input-group-text">Title:</span>
        <input
          id="post-title"
          type="text"
          class="form-control"
          placeholder="Insert title here"
          aria-label="Title"
        />
      </div>
      <div class="input-group">
        <div class="input-group">
          <span class="input-group-text">Description:</span>
          <textarea
            id="post-description"
            class="form-control"
            aria-label="With textarea"
          ></textarea>
        </div>
      </div>

      <div class="row justify-content-center align-items-center">
        <div class="form-group col-2 my-3 text-center">
          <button
            class="btn button btn-info custom-btn"
            type="submit"
            id="submit-post"
          >Submit</button>
        </div>
      </div>
    </form>
    <div class="container m-3">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-sm-6">
          <button
            class="btn button btn-info custom-btn w-110"
            type="button"
            id="add-post"
          >+ Add Post</button>
        </div>
      </div>
    </div>
  </div>

</main>
<script src="/js/dashboard.js"></script> --}}